/*全局樣式*/
body{
	font-family: Microsoft Yahei;
}
a{
	color:#000;
}
a:hover{
	color:#2a7ae2;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
}
ul li{
	list-style-type: none;
	margin:0;
	padding:0;
}
/*iconfont图标*/
@font-face {font-family: 'iconfont';
    src: url('/font/iconfont.eot'); /* IE9*/
    src: url('/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 网页顶部*/
.site-header{
	position:relative;
	display: table;
	width:100%;
	height:350px;
	background:#262635;
}
/*菜单栏*/
.nav-bar{
	position: fixed;
	left:20px;
	top:20px;
	opacity:0.8;
}
.nav-bar-toggle{
	background:#000;
	display: block;
	text-align: center;
	padding:10px;
	width:35px;
	height:30px;
	line-height: 30px;
	opacity: 0.8;
	color:#FFFFFF;
	transition: opacity .3s ease-in-out;
}
.nav-bar-toggle:hover{
	opacity:1;
	color:#FFF;
}
.nav-bar-toggle i{
	font-size:25px;
}
ul.menu{
	background:#000;
	list-style-type: none;
	overflow: hidden;
	display:none;
}
ul.menu li a{
	display: block;
	width:35px;
	height:20px;
	text-decoration: none;
	color:#FFF;
	padding:10px;
	text-align:center;
	font-size:14px;
	opacity: 0.8;
}
ul.menu li a:hover{
	opacity:1;
}
.vertical{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}
.profile-img img{
	display:block;
	width:100px;
	border-radius: 50px;
	border:1px solid #3B3954;
	margin:0 auto;
}
.blog-title{
	font-size:2.8rem;
	color:#FFF;
	margin-bottom:0;
}
.blog-description{
	font-size:1rem;
	color:#FFF;
}
.back-to-down{
	position:absolute;
	left:50%;
	width:100px;
	height:64px;
	margin-left:-50px;
	bottom:10px;
	color:#FFF;
}
.back-to-down:hover{
	color:#1756a9;
}
.back-to-down i{
	font-size:4rem;
}

/*内容主体*/
.page-content{
	max-width: 700px;
	width:80%;
	margin:0 auto;
	padding:10px;
}
.post-list li{
	padding:50px 0px 20px 0px;
	border-bottom:#EBF2F6 1px solid;
}
.post-list .post-meta{
	font-size:1rem;
	font-family: 'Open Sans', sans-serif;
	color:#9EABB3;
}
.post-list .post-link{
	font-size:2rem;
	line-height: 2rem;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'Droid Sans Fallback', sans-serif;
	color:#494949;
	transition:color ease 0.3s;
}
.post-list .post-link:hover{
	color:#1F85C8;
}
.post-article{
	font-size:1rem;
	line-height: 2rem;
	padding:20px 0px 20px 0px;
}
.post-article p{
	color:#7E7E7E;
}
.post-tags{
	float:right;
	font-size:0.8rem;
	font-family: Microsoft Yahei;
	color:#9EABB3;
}
.pagninator{
	float:right;
	padding-top:20px;
	font-size:14px;
}
.paginator-btn{
	font-weight: bold;
	color:#242424;
}
.paginator-btn.active{
	color:gray;
}

/*网页底部*/
.site-footer{
	width:100%;
	text-align: center;
	padding-top:50px;
}
.back-to-top{
	position: fixed;
	display: none;
	text-align: center;
	line-height: 50px;
	width:50px;
	height:50px;
	background:#262635;
	opacity: 0.8;
	color:#FFF;
	right:10%;
	bottom:10%;
	border:1px solid #FFF;
	transition: opacity .3s ease-in-out;
	opacity:0.8;
}
.back-to-top i{
	font-size:20px;
}
.back-to-top:hover{
	color::#FFF;
	opacity:1
}
.icon_lists{
	width:500px;
	overflow: hidden;
	margin:0 auto;
	clear:both;
}
.icon_lists li{
  float:left;
  width: 100px;
  height:120px;
  text-align: center;
}
.icon_lists .icon{
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}
.icon_lists .icon:hover{
  font-size: 100px;
}
.copyright{
	clear:both;
	padding-bottom:60px;
}
.copyright p{
	margin:0pc;
	font-size:14px;
	font-family: Arial, 'Microsoft YaHei', sans-serif
}
#shadow{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.8;
	z-index:1;
	display: none;
}
.wechat{
	display: none;
	position:fixed;
	width:400px;
	left:50%;
	top:40px;
	margin-left:-200px;
	z-index:2; 
}
.wechat img{
	width:400px;
}

/*文章内容*/
.post-title{
	padding-top:30px;
	font-size:2rem;
}
blockquote{
	font-style:normal;
	border-left:#ddd 0.4em solid;
	margin-left:-23px;
}
/*目录结构*/
.category-title{
	margin:0px;
}
.arc-list{
	padding-bottom:20px;
}