<div class="left-col">
  <div id="header">
    <div class="portrait">
    <a href="http://boxizen.github.io"><img src="/assets/images/head.png" /></a>
    </div>
    <h4>boxiZen 的笔记本</h4>
  </div>
  <!-- 遍历整个网站的分类  -->
  <div id="category" class="mobileHide">
    <ul>
      {% for category in site.categories %}
      <li>
        <a href="/categories/{{ category | first }}/" title="view all posts">{{ category | first }} ({{ category | last | size }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="footer" class="mobileHide">
    <a href="{{site.url}}/">Home</a>
  </div>
  <div id="foldBtn" class="foldOut" class="mobileHide">
    <a href="#" class="mobileHide"> <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
  </div>
  <div id="hiddenBar">
    <div class="hiddenMenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <ul class="hiddenMenuList hidden">
      <li><a href="{{site.url}}/">主页</a></li>
      {% for category in site.categories %}
      <li>
        <a href="/categories/{{ category | first }}/" title="view all posts">{{ category | first }} ({{ category | last | size }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>