body{
	color:#FFF;
	background-color:#1F1F1F;
}
.main-content{
	position: absolute;
	width:100%;
	top:50%;
	text-align: center;
	margin-top:-160px;
}
.main-content h2{
	margin-top:5px;
	padding-bottom:15px;
}
.portrait{
	text-align: center;
	display: none;
}
.portrait img{
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	width:200px;
}
.portrait img.spin{
	-moz-transform: rotate(360deg); /* FF3.5+ */
	-o-transform: rotate(360deg); /* Opera 10.5 */
	-webkit-transform: rotate(360deg); /* Saf3.1+, Chrome */
	width:150px;
}
.portrait img:hover{
	width:150px;
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}
.myNav{
	width:200px;
	margin:0 auto;
}
.myNav ul{
	list-style-type:none;
	padding:0;
}
.myNav ul li{
	float:left;
	padding-left:10px;
	padding-right:10px;
}
.myNav ul li a{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	display: block;
	width:30px;
	height:30px;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	color:#FFF;
}
.myNav ul li a:hover{
	text-decoration: none;
	background-color:#FFF;
	color:#1F1F1F;
}
.showOff{
	display:none;
}