html,body{
	height:100%;
	color:#FFF;
}
.left-col{
	height:100%;
	background:#3C464D;
}
#header{
	text-align: center;
	padding-top:20%;
}
#header img{
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	width:160px;
}
#header img:hover{
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}