html,body{
	height:100%;
	color:#FFF;
}
.left-col{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:23%;
	/* min-height:500px; */
	background:#3C464D;
	opacity:0.9;
	transition:all .5s ease-in-out;
}
.left-col.hides{
	left:-20%;
}
.left-col:hover{
	opacity:1;
}
#header{
	text-align: center;
	padding-top:20%;
}
#header h4{
	font-weight:bold;
}
.portrait img{
	border-radius: 50px;
}
#category{
	padding-top:5%;
	font-size:16px;
	text-align: center;
}
#category ul{
	padding:0;
}
#category ul li{
	list-style-type:none;
	padding:5px 0px;
}
#category ul li a{
	color:#FFF;
}
#footer{
	position: absolute;
	width:100%;
	left:0;
	bottom:5%;
	text-align: center;
}
#footer a{
	color:#FFF;
}
#foldBtn{
	position:absolute;
	top:50%;
	right:15px;
	margin-top:-10px;
	text-align: right;
}
#foldBtn a{
	color:gray;
}
#foldBtn a:hover{
	color:#FFF;
}
#hiddenBar{
	display: none;
}
.right-col{
	position:absolute;
	width:77%;
	min-height: 100%;
	right:0;
	transition:0.5s all ease-in-out;
}
.right-col.foldOut{
	width:97%;
}
#content-list{
	padding:20px 40px 50px 40px;
	color:#666;
}
.content-title{
	color:#666;
	font-weight: bold;
}
.content-title h1{
	font-size:30px;
}
#content-list ul{
	list-style-type: none;
	padding:0;
}
#content-list ul li{
	overflow: hidden;
	padding:20px 0px 15px 0px;
	border-bottom:1px dashed #ddd;
}
#content-list ul li a{
	display: block;
	font-size:18px;
	padding-bottom:10px;
	color:#666;
}
#content-list ul li a:hover{
	text-decoration: none;
	color:#999;
}
.post-detail{
	display: block;
	float:right;
	color:#999;
}
.backToTop{
	position:fixed;
	font-size:30px;
	bottom:50px;
	right:10px;
	width:50px;
	height:50px;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	background: gray;
	color:#FFF;
	opacity:0.7;
	display:none;
}
.backToTop:hover{
	color:#FFF;
	opacity:1;
}
/* 隐藏菜单  */
.hiddenMenu{
	position:relative;
	border:1px solid #FFF;
	border-radius: 1px;
	width:44px;
	height:34px;
	padding-top: 3px;
	float:right;
	margin-top:10px;
	margin-right:15px;
}
.icon-bar{
	display: block;
	width:22px;
	border:1px solid #FFF;
	border-radius: 1px;
	margin-left: 9px;
	margin-top: 5px;
}
.hiddenMenuList{
	background:#3C464D;
	list-style-type: none;
	padding-top:60px;
	text-align: center;
	margin:0px;
	padding-bottom:10px;
	padding-left:0px;
}
.hiddenMenuList li{
	margin:0px;
	padding:5px;
}
.hiddenMenuList a{
	color:#FFF;
}
/*  字体适配 */
h1{
	font-size:2.5rem;
}
h2{
	font-size:2rem;
}
h3{
	font-size:2rem;
}
h4{
	font-size:1.5rem;
}
blockquote{
	font-size:0.9em;
}
@media screen and (max-width:700px){
	.left-col{
		left:0;
		top:0;
		right:0;
		width:100%;
		height:60px;
		z-index: 1;
	}
	#header{
		text-align: left;
		padding:10px 0px 10px 15px;
		float:left;
	}
	.portrait img{
		display:none;
		position:absolute;
		width:60px;
		left:50%;
		border-radius: 30px;
		margin-left:-30px;
		top:0px;
	}
	.mobileHide,.categoryDetail{
		display: none;
	}
	#hiddenBar{
		display: block;
	}
	.right-col{
		width:100%;
		margin-top:70px;
	}
	#content-list{
		padding:0px 10px 15px 15px;
		color:#666;
	}
	.post-detail{
		float:left;
	}
}