---
layout : notebook
---
<div class="content-title">
<h2>分类: <span class="category-title">{{ page.category }}</span></h2>
</div>
<ul>
    {% for post in site.categories.[page.category] %}
    <li>
        <div class="list-item" >
            <a href="{{post.url}}" class="pull-left">{{post.title}} &raquo;</a>
            <span class="post-detail"><i class="glyphicon glyphicon-tags"></i>
                {{post.category}}&nbsp;&nbsp; <i class="glyphicon glyphicon-calendar"></i>
                {{post.date | date: "%Y-%m-%d"}}&nbsp;&nbsp; 
            </span>
        </div>
    </li>
    {% endfor %}
</ul>